<section>
  <div class="grid">
    <div
      *ngFor="let row of grid; let i = index; trackBy: trackByFn"
      class="row"
      [ngClass]="{ 'focused-row': i === focusedRow }"
    >
      <input
        *ngFor="let cell of row; let j = index; trackBy: trackByFn"
        type="number"
        maxlength="1"
        class="cell"
        (focus)="onInputFocus(i, j)"
        (blur)="onInputBlur()"
        [value]="cell === 0 ? '' : cell"
        [ngClass]="{
          'focused-subgrid': isInSubgrid(i, j),
          'focused-col': j === focusedCol
        }"
        (input)="validateInput($event, i, j)"
        [attr.id]="'cell_' + i + '_' + j"
      />
    </div>
  </div>
</section>
